header {
    z-index: 2;
    background-color: rgb(253, 253, 253);
    width: 100%;
    height: 84px;
    position: fixed;
    top: 0;
    padding: 0 20px;
    /* 헤더 가운데 정렬 */
    margin: auto;
    right: 0px;
    left: 0px;
    border: 1px solid #eeeeee;
    border-top: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-container {
    display: none;
  }
  
  .logo-container .logo{
    font-family: "Noto Sans KR", sans-serif;
    font-weight:700;
    font-size:25px;
  }
 
  * {
    /* border: 1px solid red; */
  }
  
  .user-actions {
    display: flex;
    gap: 5px;
  }
  .side-bar-btn {
    cursor: pointer;
  }
  .btn-group {
    display: flex;
  }

  .r-btn {
    padding: 5px 12px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .r-btn:hover {
    font-weight: bold;
  }
  .btn-signin {
    color: black;
    background: transparent;
  }
  
  .btn-signup {
    background-color: #010101;
    color: #fff;
  }
  .user-profile {
    gap:0px;
  }
  
  .admin {
    padding: 0 3px;
  }
  .profile {
    padding: 0 3px;
  }
  .logout {
    background: none;
    color: rgb(250, 49, 49);
    padding: 0 3px;
  }
  
  /* 태블릿 */
  @media (min-width: 820px) {
    header {
      max-width: calc(1100px);
    }
    .side-bar-btn {
      display: none;
    }
    .logo-container {
      display: block;
    }
    .r-btn {
      padding: 7px 14px;
      font-size: 14px;
    }
    .user-actions {
      gap: 10px;
    }
  }
  
  @media (min-width: 1340px) {
    header {
      max-width: calc(1356px);
    }
    .r-btn {
      padding: 8px 16px;
      font-size: 16px;
    }
    .user-actions {
      gap: 10px;
    }
  }