.side-bar {
    background: #fff;
    padding: 0 10px;
    width: 240px;
    height: 100%;
    position: fixed;
    top: 84px;
    left: -240px;
    z-index:1;
  }
  .sidebar-open {
    transition: 0.5s;
    left: 0;
  }
  .sidebar-closed {
    transition: 0.5s;
    left: -240px;
  }
  
  .my-menu {
    margin-top: 10px;
    text-align: center;
  }
  .my-menu .im {
    margin-top: 5px;
    border: 1px solid #ddd;
    width: 100%;
    display: flex;
  }
  .my-menu .im a {
    flex: 1;
  }
  .my-menu .im:hover,
  .my-menu .im:hover a {
    background: #010101;
    color: white;
  }
  .btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 10px 0px 0px;
  }
  .to-home {
    background: #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  /* 사이드바 닫는 부분 */
  .close-bar {
    background-color: transparent;
    font-size: 28px;
  }
  .close-bar .close-icon {
    pointer-events: none;
  }
  
  .profile {
  }
  .portfolio {
  }
  .github {
  }
  .category-header {
    margin-top: 30px;
  }
  .category-header h2 {
    color: black;
    font-weight: 500;
    font-size: 12px;
    padding-left: 0px;
    margin-bottom: 8px;
  }
  
  .category-list {
    padding: 0;
    margin: 0;
  }
  
  .category-list .selected {
    font-weight: bold;
  }
  
  .category-list li {
    margin-bottom: 10px;
    margin: 0;
    padding: 0;
  }
  
  .category-name {
  }
  
  .category-count {
    margin-left: 5px;
    color: #888;
  }
  .tag-header {
    margin-top: 30px;
  }
  .tag-header h2 {
    color: black;
    font-weight: 500;
    font-size: 12px;
    padding-left: 0px;
    margin-bottom: 8px;
  }
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .tag-list li {
    border: 1px solid black;
    margin: 1px;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .tag-list li.selected {
    background-color: black;
  }
  
  .tag-list li.selected a{
    color: #ffffff !important;
  }
  
  /* 태블릿 */
  @media (min-width: 820px) {
    .btn-wrapper {
      display: none;
    }
    .side-bar {
      left: auto;
    }
  }
  
  /* 데스크톱 */
  @media (min-width: 1340px) {
  }