/* 제목 */
.toastui-editor-contents > h1 {
  font-size: 2.2rem;
  margin: 1.8rem 0 1.4rem 0;
}

.toastui-editor-contents > h2 {
  font-size: 1.8rem;
  margin: 1.6rem 0 1.2rem 0;
}

.toastui-editor-contents > h3 {
  font-size: 1.5rem;
  margin: 1.4rem 0 1rem 0;
}
.toastui-editor-contents > h4 {
  font-size: 1.3rem;
  margin: 1.2rem 0 0.8rem 0;
}

.toastui-editor-contents > h1,
.toastui-editor-contents > h2,
.toastui-editor-contents > h3,
.toastui-editor-contents > h4 {
  border: 0;
  padding: 0.5rem 0;
  line-height: 2rem;
}

/* 리스트 */
.toastui-editor-contents ul > li::before {
  margin-top: 0.8rem;
  background-color: #222;
}

.toastui-editor-contents ol > li::before {
  margin-top: 0.1rem;
  color: #222;
}

/* 일반 게시글 내용 */
.toastui-editor-contents p {
  font-size: 1.2rem;
}

/* 마크다운 프리뷰 왼쪽 작성부분 */
.toastui-editor-defaultUI .ProseMirror {
  font-size: 1.2rem;
}

.toastui-editor-contents code {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  color: #ff4473;
  background: transparent;
}

/* 마크다운 프리뷰 오른쪽 뷰어부분 */
.toastui-editor-md-container .toastui-editor-md-preview {
  overflow-y: auto;
  padding: 0 25px;
  height: 100%;
  overflow-x: hidden;
}

/* Wizwig 모드 Disabled */
.toastui-editor-mode-switch {
  display: none !important;
}

/* 인용 부분 */
.toastui-editor-contents blockquote {
  border-left: 4px solid #222;
  background: #f1f1f1;
  padding: 10px;
  overflow-x: auto;
}

.toastui-editor-contents blockquote p {
  color: #222;
}

/* 코드 영역 */
.toastui-editor-contents pre {
  font-family: "Hack", monospace;
  border-radius: 10px !important;
  tab-size: 4;
  background: #272822;
  overflow-x: auto;
  overflow-y: auto;
}

.toastui-editor-contents pre code {
  font-family: "Hack", monospace;
  padding: 0;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  background-color: transparent;
  white-space: pre; /* 줄바꿈 없이 공백을 유지하도록 설정 */
}

.token.boolean,
.token.number {
  color: #00e0e0;
}

.token.builtin,
.token.inserted {
  color: #f95d6c;
}

.token.tag,
.token.property,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ffa07a;
}

.token.operator {
  color: #f8f8f2;
  background: transparent;
}

.prismjs-okaidia .token.punctuation {
  color: #f8f8f2;
}

.token.punctuation {
  color: #f8f8f2;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #66d9ef;
}

.token.string {
  color: #a6e22e;
}
.token.function,
.token.class-name {
  color: #e6db74;
}
