.profile-container {
  margin-top: 2rem;
  display: grid;
  grid-template-areas:
    "avatar detail"
    "info info";
  /* 첫 번째 열은 자동 크기, 두 번째 열은 1fr로 쭉 늘어남 */
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.avatar-wrapper {
  grid-area: avatar;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}

.avatar-wrapper .user-avatar {
  position: relative;
  display: flex;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #333;
}

/* 사용자 이미지 */
.avatar-wrapper .user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  */

.avatar-wrapper:hover .upload-layer {
  display: flex;
}

.avatar-wrapper .upload-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.avatar-wrapper .upload-layer input {
  display: none;
}

.avatar-wrapper .update-image {
  width: 80px;
  margin-top: 1rem;
  font-size: 0.8rem;
  background-color: #000;
  color: white;
  font-weight: bold;
}

.avatar-wrapper .reset-image {
  width: 80px;
  font-size: 0.8rem;
  background: none;
  font-weight: bold;
}

/* 사용자 수정 부분 */
.detail-wrapper .update-btn {
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  margin-left: 0.2rem;
}

.detail-wrapper {
  grid-area: detail;
  border-left: 1px solid #ddd;
  flex: 1;
  color: #000;
  padding-left: 1rem;
}
.detail-wrapper div {
  width: 100%;
}

.detail-wrapper .update-btn .icon {
  font-size: 1.2rem;
  color: black;
}

.detail-wrapper .save-btn {
  font-size: 0.8rem;
  border-radius: 5px;
  margin-left: 0.2rem;
  white-space: nowrap;
}

.detail-wrapper .nickname-wrapper div {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.detail-wrapper .nickname-wrapper .view h2 {
  padding-left: 0;
  margin: 0;
  font-size: 1.5rem;
  flex: 1;
  font-weight: bold;
  border: 1px solid white;
}

.detail-wrapper .nickname-wrapper .edit input {
  margin: 0;
  font-size: 1.5rem;
  flex: 1;
  border: 1px solid #ddd;
  font-weight: bold;
}

/* 설명 */
.detail-wrapper .description-wrapper * {
  /* border: 1px solid red; */
}

.detail-wrapper .description-wrapper div {
  display: flex;
  align-items: flex-start;
}

.detail-wrapper .description-wrapper .view p {
  margin: 0;
  font-size: 1rem;
  flex: 1;
  color: rgb(80, 80, 80);
  border: 1px solid white;
  word-break: break-all;
}

.detail-wrapper .description-wrapper textarea {
  margin: 0;
  border: 1px solid #ddd;
  font-size: 1rem;
  color: rgb(80, 80, 80);
  width: 100%;
  height: auto;
  overflow-y: hidden;
}

/* 태블릿 */
@media (min-width: 820px) {
}

/* 데스크톱 */
@media (min-width: 1340px) {
  .avatar-wrapper .user-avatar {
 	width: 5.5rem;
	height: 5.5rem;
  }

  .avatar-wrapper .update-image {
    width: 120px;
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .avatar-wrapper .reset-image {
    width: 120px;
    font-size: 1.2rem;
  }

  .detail-wrapper .nickname-wrapper .view h2 {
    font-size: 2rem;
  }

  .detail-wrapper .nickname-wrapper .edit {
  }

  .detail-wrapper .nickname-wrapper .edit input {
    font-size: 2rem;
    padding-top: 4px;
  }

  .detail-wrapper .description-wrapper .view p {
    font-size: 1.4rem;
    padding: 8px 10px 0px 0px;
  }

  .detail-wrapper .description-wrapper textarea {
    font-size: 1.4rem;
    padding: 8px 10px 0px 0px;
  }

  .detail-wrapper .update-btn {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
  }

  .detail-wrapper .update-btn .icon {
    font-size: 1.8rem;
  }

  .detail-wrapper .save-btn {
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }
}
