.editor-wrapper {
    display: flex;
    flex-direction: column;
  }
  .post-title {
    font-size: 30px;
    font-weight: bold;
    height: 70px;
    border-radius: 0px;
    border: none;
  }
  .post-description {
    border: none;
    height: 60px;
    padding: 5px 10px;
  }
  
  .public-btn,
  .private-btn {
    border: 1px solid #ddd;
    background-color: #ffffff;
    color: black;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .selected {
    background-color: black;
    color: white;
  }
  
  .selection-container {
    display: flex;
    flex-direction: column;
  }
  .category-wrapper {
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
  }
  .category-wrapper h3 {
    padding: 5px 25px 5px 10px;
    width: 110px;
  }
  .category-wrapper .category-select {
    background: #ffffff;
    border: 1px solid #ddd;
    min-width: 200px;
    height: 36px;
    line-height: 36px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 20px;
  }
  .category-select:focus {
    outline: none;
    border: 1px solid black;
  }
  .tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
  }
  .tag-wrapper h3 {
    padding: 5px 25px 5px 10px;
    width: 110px;
    height: 47px;
    margin: 0;
  }
  .tag-wrapper .tag {
    border: 1px solid #ddd;
    background: #ffffff;
    padding: 7px 10px;
    border-radius: 8px;
    margin-right: 3px;
    margin: 2px 3px 2px 0;
  }
  .tag-wrapper .tag-input {
    width: 200px;
    border-radius: 0px;
    box-sizing: border-box;
    line-height: 40px;
    padding-bottom: 5px;
    height: 40px;
    padding: 5px 7px 5px 7px;
  }
  
  .button-container {
    height: 50px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .button-container .exit-btn {
    font-size: 20px;
    background: none;
    margin-left: 10px;
  }
  .button-container .submit-btn {
    font-size: 20px;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 10px;
  }
  .toastui-editor-mode-switch .tab-item {
    display: none !important;
  }