.header {
  display: flex;
}

.header .image-wrapper {
  display: flex;
  height: 3.4rem;
  width: 2.9rem;
  align-items: center;
  position: relative;
}

.header .image-wrapper img {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-54%);
  height: 76%;
}

.header .content-wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.header .content-wrapper .info {
  font-size: 1.2rem;
  font-weight: bold;
}

.header .content-wrapper .info h4 {
  margin: 0;
}

.header .content-wrapper .info .date {
  font-size: 0.8rem;
  color: rgb(99, 99, 99);
}

.header .content-wrapper .btn-wrapper .btn-top {
  background: none;
}

/* 내용 */
.content {
  padding: 5px 0 10px 0;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  font-size: 1.3rem;
}

.content pre {
  width: 100%;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  overflow: auto;
  padding: 0;
  margin: 0;
}

.content .mention-wrapper {
  padding-bottom: 5px;
}

.content .mention-wrapper .mention {
  background: #000000;
  color: white;
  font-weight: bold;
  padding: 3px 5px 5px 3px;
  line-height: 25px;
  border-radius: 5px;
  font-size: 0.8rem;
}

/* 답글 달기 */
.tool {
  margin: 8px 0 0 0;
}

.tool .create-btn {
  color: black;
  font-weight: 500;
  cursor: pointer;
  background: none;
}

.comment {
  border-top: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px 0px;
}

.reply {
  border: 1px solid #ddd;
  border-left: 4px solid rgb(51, 51, 51);
  padding: 5px 5px 5px 0.4rem;
  margin-bottom: 0.5rem;
}

.btn-wrapper .update-btn {
  color: rgb(51, 51, 51);
}

.btn-wrapper .delete-btn {
  color: rgb(255, 114, 114);
}
