.wrapper {
  margin: 10px 0 0 0;
}

textarea {
  padding: 8px 10px;
  border: 1px solid #ddd;
  width: 100%;
  min-height: 9rem;
  font-size: 1.3rem;
  line-height: 1.75;
  overflow-y: hidden;
}

.btn-wrapper {
  text-align: right;
}

.btn-wrapper button {
  padding: 4px 10px;
  border-radius: 5px;
}

.btn-wrapper .create {
  background: #000000;
  color: white;
}

.btn-wrapper .submit {
  background: #000000;
  color: white;
}

.btn-wrapper .close {
  background: white;
  border: 1px solid #ddd;
  color: #000000;
  margin-left: 3px;
}
